
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 style="color:white">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>
            <p>
                @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Trangchu")
            </p>
        </div>
    </div>
</div>
