
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="product-main-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <h2 style="color:white;text-align:center">HANA SHOP</h2>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="contact_form">

                    <div class="contact_left">

                        <div class="ch-contacts-details">
                            <ul class="contact-list">
                                <li class="addr">
                                    <h3 class="title" style="color:white">Địa chỉ của chúng tôi</h3>
                                    <p style="color:white">
                                        260 Tô Ngọc Vân , P.Thạnh Xuân , Q12 , TPHCM
                                    </p>

                                </li>
                                <li class="phone">
                                    <p><h3 style="color:white">Điện thoại</h3></p>
                                    <strong class="title" style="color:white">0931 86 45 00</strong>
                                </li>
                            </ul>
                            <div class="hiring-box">
                                <p><h3 style="color:white">Lời nhắn</h3></p>
                                <strong class="title" style="color:white">Chào bạn!</strong>
                                <p style="color:white">Mọi thắc mắc bạn hãy gửi về mail của chúng tôi <strong>vincentvalentine.hl@gmail.com</strong> chúng tôi sẽ giải đáp cho bạn.</p>
                                <p>@Html.ActionLink("Trở về", "Index")</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




